/* Sidebar Styles */
.sidebar {
  height: 100vh; /* Full height */
  background-color: #4e4e4e; /* Sidebar background color */
  color: white; /* Text color */
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Smooth easing for transform */
  position: fixed; /* Fixed to the left */
  top: 0; /* Start from top */
  left: 0; /* Positioned at the left of the screen */
  transform: translateX(-225px); /* Initially hidden off-screen */
  z-index: 1000; /* Ensure it stays on top */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Box shadow for the sidebar */
}

.sidebar.open {
  transform: translateX(-30px); /* Slide in when open */
  padding: 0;
}

.nav-list {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  display: flex;
  flex-direction: column;
  margin-top: 3rem; /* Space from the top */
}

.nav-list li {
  width: 100%; /* Ensure full width for the list items */
}
.sidebar img {
  width: 70px;
  top: -3.5rem;
  margin-left: 3rem;
  position: relative;
}
.nav-list li button {
  color: white; /* Button text color */
  background: none; /* No background */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor */
  width: fit-content; /* Full width for buttons */
  padding: 15px 50px; /* Space around button text */
  transition:
    background-color 0.3s,
    box-shadow 0.3s; /* Transition for hover effects */
}
.sidebae-icon {
  display: flex;
  justify-content: right;
  padding: 0.5rem 0.2rem;
  cursor: pointer;
  position: relative;
  top: 1rem;
}
.icon-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  cursor: pointer;
  padding: 0.5rem 0.2rem;
}
