* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Dashboard Styles */
.main_dash_container {
  display: flex; /* Use flexbox for layout */
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent scrolling on the main container */
}

.side_bar_pos {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; /* Full height for the sidebar */
  color: #fff;
  z-index: 1000; /* Ensure it stays on top */
  overflow: hidden; /* Prevent scrolling in the sidebar */
}

.content {
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Allow vertical scrolling for content */
  padding: 20px; /* Optional padding for the content area */
  margin-left: 2.5rem;
  width: 100%;
}
